/* .mainDiv{
} */
.hexWrapper {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.35vw;
  }
  .child {
    margin-bottom: -15%;
    width: 9%;
    aspect-ratio: 1.15;
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50% ,75% 100%, 25% 100%, 0 50%);
    top: var(--_y);
    left: var(--_x);
    background-color: var(--infoCol);
    color: var(--whiteCol);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-height: 65px;
    min-width:65px;
    box-shadow: 2px -4px 43px 18.5px inset rgba(0, 0, 0, 0.35);
  }
.element{
  z-index: 9999;
}
.element:hover{
  clip-path: none;
  border-radius: 25%;
}
.child:hover{
  font-weight: bolder;
  background-color: var(--contrastCol);
  color: var(--infoCol);
  animation-play-state:paused;
  z-index:9999;
  box-shadow: 2px -4px 43px 18.5px inset rgba(255, 255, 255, 0.3);
}
#unit:hover{
  font-weight: bolder;
  background-color: var(--focalCol);
  color: var(--contrastCol);
}
 /* 1 */
  .mainDiv > .child:nth-child(1){--_x:9%; --_y:10.5%}   /* PYTHON */
  .mainDiv > .child:nth-child(2){--_x:9%; --_y:12.5%}  /* ALIEN */
  .mainDiv > .child:nth-child(3){--_x:11%; --_y:11.5%}
  .mainDiv > .child:nth-child(4){--_x:11%; --_y:13.5%}
  .mainDiv > .child:nth-child(5){--_x:17.75%; --_y:10.5%}
  .mainDiv > .child:nth-child(6){--_x:17.75%; --_y:12.5%}
  .mainDiv > .child:nth-child(7){--_x:19.75%; --_y:11.5%}  /* CALC */
  .mainDiv > .child:nth-child(8){--_x:19.75%; --_y:13.5%}
  .mainDiv > .child:nth-child(9){--_x:16.16%; --_y:23%}
  .mainDiv > .child:nth-child(10){--_x:9%; --_y:30.5%}  /* COOKIES */
 /* 11 */
  .mainDiv > .child:nth-child(11){--_x:9%; --_y:30.5%}  /* REACT */
  .mainDiv > .child:nth-child(12){--_x:16.16%; --_y:68%}
  .mainDiv > .child:nth-child(13){--_x:23.4%; --_y:30.5%}
  .mainDiv > .child:nth-child(14){--_x:23.4%; --_y:45.5%}
  .mainDiv > .child:nth-child(15){--_x:9%; --_y:30.5%}  /* CATS */
  .mainDiv > .child:nth-child(16){--_x:23.4%; --_y:75.5%}
  .mainDiv > .child:nth-child(17){--_x:9%; --_y:30.5%}  /* DICE */
  .mainDiv > .child:nth-child(18){--_x:9%; --_y:30.5%}  /* MATRIX */
  .mainDiv > .child:nth-child(19){--_x:30.6%; --_y:68%}
  .mainDiv > .child:nth-child(20){--_x:30.6%; --_y:83%}
 /* 21 */
  .mainDiv > .child:nth-child(21){--_x:9%; --_y:30.5%}  /* JAVA */
  .mainDiv > .child:nth-child(22){--_x:9%; --_y:30.5%}   /* KEYCODE */
  .mainDiv > .child:nth-child(23){--_x:37.9%; --_y:75.5%}
  .mainDiv > .child:nth-child(24){--_x:37.9%; --_y:90.5%}
  .mainDiv > .child:nth-child(25){--_x:9%; --_y:30.5%}   /* DRUM */
  .mainDiv > .child:nth-child(26){--_x:45.2%; --_y:53%}
  .mainDiv > .child:nth-child(27){--_x:45.2%; --_y:68%}
  .mainDiv > .child:nth-child(28){--_x:45.2%; --_y:83%}
  .mainDiv > .child:nth-child(29){--_x:52.47%; --_y:60.5%}   /* CAMERA */
  .mainDiv > .child:nth-child(30){--_x:52.47%; --_y:45.5%}  /* RASPI */
 /* 31 */
  .mainDiv > .child:nth-child(31){--_x:9%; --_y:30.5%}  /* DRAG */
  .mainDiv > .child:nth-child(32){--_x:9%; --_y:30.5%} 
  .mainDiv > .child:nth-child(33){--_x:59.69%; --_y:38%}
  .mainDiv > .child:nth-child(34){--_x:59.69%; --_y:53%}
  .mainDiv > .child:nth-child(35){--_x:59.69%; --_y:68%}
  .mainDiv > .child:nth-child(36){--_x:9%; --_y:30.5%}  /* HTML */
  .mainDiv > .child:nth-child(37){--_x:67%; --_y:30.5%}  
  .mainDiv > .child:nth-child(38){--_x:67%; --_y:45.5%}
  .mainDiv > .child:nth-child(39){--_x:9%; --_y:30.5%}   /* CLONE */
  .mainDiv > .child:nth-child(40){--_x:67%; --_y:75.5%}  
 /* 41 */
  .mainDiv > .child:nth-child(41){--_x:74.3%; --_y:23%}
  .mainDiv > .child:nth-child(42){--_x:9%; --_y:30.5%} /* DRAGAPI */
  .mainDiv > .child:nth-child(43){--_x:74.3%; --_y:53%}
  .mainDiv > .child:nth-child(44){--_x:74.3%; --_y:68%}
  .mainDiv > .child:nth-child(45){--_x:81.73%; --_y:30.5%}
  .mainDiv > .child:nth-child(46){--_x:9%; --_y:30.5%} /* APIS */
  .mainDiv > .child:nth-child(47){--_x:9%; --_y:30.5%}/* FULLSTACK */
  .mainDiv > .child:nth-child(48){--_x:81.73%; --_y:75.5%}
  .mainDiv > .child:nth-child(49){ --_x:9%; --_y:30.5%} /* RESET */
  .mainDiv > .child:nth-child(50){--_x:9%; --_y:30.5%} /* REST */
  /* 51 */
  .mainDiv > .child:nth-child(51){--_x:89%; --_y:53%}
  .mainDiv > .child:nth-child(52){--_x:89%; --_y:68%}
  .mainDiv > .child:nth-child(53){--_x:1.8%; --_y:83%}
  .mainDiv > .child:nth-child(54){--_x:9%; --_y:90.5%}  
  .mainDiv > .child:nth-child(55){--_x:16.16%; --_y:83%}
  .mainDiv > .child:nth-child(56){--_x:23.4%; --_y:90.5%}
  .mainDiv > .child:nth-child(57){--_x:67%; --_y:90.5%}
  .mainDiv > .child:nth-child(58){--_x:74.3%; --_y:83%}
  .mainDiv > .child:nth-child(59){--_x:81.73%; --_y:90.5%}
  .mainDiv > .child:nth-child(60){--_x:89%; --_y:83%}
  /* 61 */
  .mainDiv > .child:nth-child(61){--_x:37.9%; --_y:30.5%}
  .mainDiv > .child:nth-child(62){--_x:52.47%; --_y:30.5%}
  .mainDiv > .child:nth-child(63){--_x:52.47%; --_y:90.5%}

  #python{--_x:1.8%; --_y:23%}
  #alien{--_x:1.8%; --_y:38%}
  #drag{--_x:52.47%; --_y:75.5%}
  #clone{--_x:67%; --_y:60.5%}
  #html{--_x: 59.69%; --_y:83%}
  #matrix{--_x:30.6%; --_y:53%}
  #javascript{--_x:37.9%; --_y:45.5%}
  #dice{--_x:30.6%; --_y:38%}
  #keycode{--_x:37.9%; --_y:60.5%}
  #drum{--_x:45.2%; --_y:38%}
  #react{--_x:16.16%; --_y:53%}
  #cookies{--_x:16.16%; --_y:38%}
  #calculator{--_x:9%; --_y:60.5%}
  #cats{--_x:23.4%; --_y:60.5%}
  #dragAPI{--_x:74.3%; --_y:38%}
  #api{--_x:81.73%; --_y:45.5%}
  #fullStack{--_x:81.73%; --_y:60.5%}
  #rest{--_x:89%; --_y:38%}
  #reset{--_x:89%; --_y:23%}
  #camera{--_x:52.47%; --_y:45.5%}
  #raspi{--_x:52.47%; --_y:60.5%}

  @keyframes circles {
    from { transform: rotate(0deg) translateX(9vw) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(9vw) rotate(-360deg); }
  }
  @-o-keyframes circles {
    from { transform: rotate(0deg) translateX(9vw) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(9vw) rotate(-360deg); }
  }
  @-moz-keyframes circles {
    from { transform: rotate(0deg) translateX(9vw) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(9vw) rotate(-360deg); }
  }
  @-webkit-keyframes circles {
    from { transform: rotate(0deg) translateX(9vw) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(9vw) rotate(-360deg); }
  }
  