@import url('https://fonts.googleapis.com/css2?family=Geologica:wght,CRSV,SHRP@100..900,1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75..100');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@font-face {
  font-family: 'NJTD-Regular';
  src: url(../public/fonts/NJTD-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NJTD-Bold';
  src: url(../public/fonts/NJTD-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style:normal
}
@font-face {
  font-family: 'Geologica';
  src: local(Geologica);
  font-variation-settings: "CRSV" 1, "SHRP" 100 ;
}
@font-face {
  font-family: 'GeologicaBlack';
  src: url('../public/fonts/Geologica-Sharp/Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeologicaBold';
  src: url('../public/fonts/Geologica-Sharp/Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeologicaLight';
  src: url('../public/fonts/Geologica-Sharp/Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeologicaExtraBold';
  src: url('../public/fonts/Geologica-Sharp/ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeologicaExtraLight';
  src: url('../public/fonts/Geologica-Sharp/ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeologicaThin';
  src: url('../public/fonts/Geologica-Sharp/Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeologicaRegular';
  src: url('../public/fonts/Geologica-Sharp/Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeologicaMedium';
  src: url('../public/fonts/Geologica-Sharp/Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeologicaSemiBold';
  src: url('../public/fonts/Geologica-Sharp/SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@theme {
  --GeoBlack: 'GeologicaBlack', sans-serif;
  --GeoBold: 'GeologicaBold', sans-serif;
  --GeoLight: 'GeologicaLight', sans-serif;
  --GeoExtraBold: 'GeologicaExtraBold', sans-serif;
  --GeoExtraLight: 'GeologicaExtraLight', sans-serif;
  --GeoThin: 'GeologicaThin', sans-serif;
  --GeoRegular: 'GeologicaRegular', sans-serif;
  --GeoMedium: 'GeologicaMedium', sans-serif;
  --GeoSemiBold: 'GeologicaSemiBold', sans-serif;
  --LeagueSpartan: 'League Spartan', sans-serif;
  --text-spartan-bold: 'League Spartan', sans-serif;
  --text-spartan-bold--font-weight: 700;
  --text-spartan-bold--letter-spacing: 0.25rem;
  --text-spartan-light: 'League Spartan', sans-serif;
  --text-spartan-light--font-weight: 300;
  --text-spartan-light--letter-spacing: 0.5rem;
  --text-spartan-black: 'League Spartan', sans-serif;
  --text-spartan-black--font-weight: 900;
  --text-spartan-black--letter-spacing: 0.125rem;
  --text-section-title: 'League Spartan', sans-serif;
  --text-section-title--font-weight: 900;
  --text-section-title--letter-spacing: 0.175rem;
  --text-section-title--font-size: 65px;
  --Raleway: 'Raleway', sans-serif;
  --border-color:  rgba(45, 80, 190,0.8);
  --darkBorder-color:  rgba(5, 40, 100,0.8);
  --highlight-color: rgba(100, 120, 185,0.8);
}

@theme inline{
  --drop-shadow-box: 0 0 1px var(--darkCol) , 0 0 2px var(--darkCol) inset, 0 0 4px var(--lightCol) , 0 0 8px var(--darkCol) inset, 0 0 16px var(--lightCol), 0 0 1px hsl(0deg 0% 0% / 0.075) inset,  0 0 2px hsl(0deg 0% 0% / 0.075), 0 0 4px hsl(0deg 0% 0% / 0.075) inset,  0 0 8px hsl(0deg 0% 0% / 0.075), 0 0 16px hsl(0deg 0% 0% / 0.075);
  --shadow-box: 1px 1px 3px var(--darkCol) , 1px 1px 4px var(--darkCol), 2px 2px 5px var(--blackCol) , 0 0 8px var(--darkCol), 0 0 16px var(--lightCol), 0 0 1px hsl(0deg 0% 0% / 0.075),  0 0 2px hsl(0deg 0% 0% / 0.075), 0 0 4px hsl(0deg 0% 0% / 0.075),  0 0 8px hsl(0deg 0% 0% / 0.075), 0 0 16px hsl(0deg 0% 0% / 0.075);
  --drop-shadow-splash: inset 0 0 1px var(--darkCol), 0 0 2px var(--darkCol) inset, 0 0 4px var(--lightCol) inset, 0 0 16px var(--lightCol)inset, inset 0 0 2px hsl(0deg 0% 0% / 0.075), inset 0 0 8px hsl(0deg 0% 0% / 0.075), inset 0 0 16px hsl(0deg 0% 0% / 0.075);
  --drop-shadow-card: inset 0 0 1px var(--blackCol), 0 0 2px var(--infoCol), 0 0 4px var(--blackCol) , 0 0 8px var(--infoCol), 0 0 16px var(--blackCol), 0 0 1px hsl(0deg 0% 0% / 0.075) inset, 0 0 2px hsl(0deg 0% 0% / 0.075) inset, 0 0 4px hsl(0deg 0% 0% / 0.075) inset, 0 0 8px hsl(0deg 0% 0% / 0.075) inset, 0 0 16px hsl(0deg 0% 0% / 0.075) inset;
  --drop-shadow-text: 4px 2px 4px var(--darkCol);
  --drop-shadow-textBox: inset 0 0 1px var(--darkCol), 0 0 2px var(--darkCol), 0 0 4px var(--lightCol) inset, 0 0 8px var(--darkCol), 0 0 16px var(--lightCol)inset, 0 0 1px hsl(0deg 0% 0% / 0.075), inset 0 0 2px hsl(0deg 0% 0% / 0.075), 0 0 4px hsl(0deg 0% 0% / 0.075), inset 0 0 8px hsl(0deg 0% 0% / 0.075), inset 0 0 16px hsl(0deg 0% 0% / 0.075);
  --shadow-big:  4px 4px 4px 4px var(--blackCol), 4px -4px 4px 4px var(--blackCol), -4px 4px 4px 4px var(--blackCol) , -4px -4px 4px 4px var(--blackCol);
  --my-shadow: drop-shadow(0 2px 2px var(--border-color)) drop-shadow(0 -2px 2px var(--border-color)) drop-shadow(2px 0 2px var(--border-color)) drop-shadow(-2px 0 2px var(--highlight-color));
  --current-shadow: drop-shadow(0 2px 4px var(--highlight-color)) drop-shadow(0 -2px 2px var(--border-color)) drop-shadow(2px 0 4px var(--highlight-color)) drop-shadow(-2px 0 2px var(--border-color));
}
:root {
  --foreground-rgb: rgb(30, 30, 30);
  --background-color:rgb(255, 255, 255);
  --background-second: rgb(200, 200, 200);
  --text-color: rgb(50, 50, 50);
  --black-color: rgb(35, 35, 35);
  --white-color:  rgb(235, 235, 235);
  --dark-color:  rgb(80, 80, 80);
  --light-color:  rgb(200, 200, 200);
  --mid-color:  rgb(115, 115, 115);
  --svg-fill: rgba(110,110,110,1);
  --first-svg-stroke: rgba(20,20,20,0.85);
  --first-svg-stroke-light: rgba(90,90,90,0.85);
  --second-svg-fill: rgba(135,135,135,0.75);
  --second-svg-stroke: rgba(100,100,100,0.8);
  --second-svg-stroke-light: rgba(170,170,170,0.8);
  --third-svg-fill: rgba(140,140,140,0.75);
  --third-svg-stroke: rgba(115,115,115,0.8);
  --third-svg-stroke-light: rgba(195,195,195,0.85);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(235, 235, 235);
    --background-color: rgb(50, 50, 50);
    --background-second: rgb(150, 150, 150);
    --text-color: rgb(250, 250, 250);
    --black-color: rgb(25, 25, 25);
    --white-color: rgb(225, 225, 225);
    --dark-color: rgb(20, 20, 20);
    --light-color: rgb(180, 180, 180);
    --mid-color: rgb(99, 99, 99);
    --svg-fill: rgba(85,85,85,1);
    --first-svg-stroke: rgba(60,60,60,0.75);
    --first-svg-stroke-light: rgba(180,180,180,0.85);
    --second-svg-fill: rgba(85,85,85,0.75);
    --second-svg-stroke: rgba(50,50,50,0.8);
    --second-svg-stroke-light: rgba(150,150,150,0.8);
    --third-svg-fill: rgba(110,110,110,0.75);
    --third-svg-stroke: rgba(70,70,70,0.75);
    --third-svg-stroke-light: rgba(175,175,175,0.85);
  }
}

.test{
  fill: white;
}

html::-webkit-scrollbar{
  display: none;
}

html{
  scrollbar-width:0;
  position: relative;
}

body, html{
  margin:0;
  padding:0;
}

.cubes{
  --s:275px; 
  --c1: #1d1d1d;
  --c2: #4b4d51;
  --c3: #3c3c3c;
  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
}

.largeShadow{
  text-shadow: -7.5px 3.5px 8px var(--mid-color);
}
.smallShadow{
  text-shadow: -4px 2px 6px var(--mid-color);
}
.coloredShadow{
  text-shadow: -4px 2px 6px var(--border-color);
}
.largeColoredShadow{
  text-shadow: -7.5px 3.5px 8px var(--border-color);
}
.title{
  font-family: 'Geologica', sans-serif;
  font-variation-settings: 'wght' 700;
  font-variation-settings: 'CRSV' 1;
  font-variation-settings: 'SHRP' 100;
  text-shadow: -5px 2px 4px var(--mid-color);
  text-align:center;
}
.subTitle{
  font-size: 3vw;
  font-family: 'Geologica', sans-serif;
  font-variation-settings: 'wght' 600;
  font-variation-settings: 'CRSV' 1;
  font-variation-settings: 'SHRP' 100;
  text-shadow: -2px 1px 2px var(--mid-color);
}
.subHeading{
  font-family: 'Geologica', sans-serif;
  font-variation-settings: 'wght' 600;
  font-variation-settings: 'CRSV' 1;
  font-variation-settings: 'SHRP' 100;
  color: var(--light-color);
}

.gradientText{
  color: transparent;
  background: linear-gradient(135deg, var(--light-color) 20%, var(--mid-color) 67.5%, var(--dark-color) 90%);
  background-clip: text;
}
.firstLogo{
  border-radius: 50%;
  background: border-box,  conic-gradient(from var(--bg-angle) at 50% 50%, #4eeaff, #4bb9ff, #5463ff, #b35dff, #ff5bdb, #ff547d, #ff7c43, #ffb642, #fff847, #76ff4f, #49ffd2, #44efff) content-box, none; 
  animation: rainbowAnimation 15s infinite linear running;
  -moz-animation: rainbowAnimation 15s infinite linear running;
  -webkit-animation: rainbowAnimation 15s infinite linear running;
  border: 10px solid transparent;
}
.rainbowBG{
  background: padding-box linear-gradient(75deg, var(--white-color) 45%, var(--mid-color) 110%), border-box  conic-gradient(from var(--bg-angle) at 50% 50%, #4eeaff, #4bb9ff, #5463ff, #b35dff, #ff5bdb, #ff547d, #ff7c43, #ffb642, #fff847, #76ff4f, #49ffd2, #44efff);
  animation: rainbowAnimation 20s infinite linear running;
  -webkit-animation: rainbowAnimation 20s infinite linear running;
  -moz-animation: rainbowAnimation 20s infinite linear running;
  border-radius: 40px;
  border: 10px solid transparent;
}
.reverseRainbowBG {
  background:
  padding-box linear-gradient(75deg, var(--white-color) 45%, var(--mid-color) 110%), border-box  conic-gradient(from var(--bg-angle) at 50% 50%, #4eeaff, #4bb9ff, #5463ff, #b35dff, #ff5bdb, #ff547d, #ff7c43, #ffb642, #fff847, #76ff4f, #49ffd2, #44efff);; 
  animation: rainbowAnimation 20s infinite reverse running;
  border-radius: 25px;
  border: 10px solid transparent;
}
.repoTitle{
  height: fit-content;
  overflow:visible;
  background: conic-gradient(from var(--bg-angle) at 50% 50%, #4eeaff, #4bb9ff, #5463ff, #b35dff, #ff5bdb, #ff547d, #ff7c43, #ffb642, #fff847, #76ff4f, #49ffd2, #44efff);;
  animation: rainbowAnimation 16s infinite alternate running;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.4vmin;
  -webkit-text-fill-color: var(--darkCol);
}
.spin{
	animation: spin 0.5s infinite linear forwards;
  -moz-animation: spin 0.5s infinite linear forwards;
  -webkit-animation: spin 0.5s infinite linear forwards;
}


@keyframes spin {
  0% { transform: 'rotate(-360deg)' }
  100% { transform: 'rotate(360deg)' }
}

@-moz-keyframes spin {
  0% { transform: 'rotate(0deg)' }
  100% { transform: 'rotate(360deg)' }
}

@-webkit-keyframes spin {
  0% { transform: 'rotate(0deg)' }
  100% { transform: 'rotate(360deg)' }
}
@keyframes rainbowAnimation {
  to {
    --bg-angle: 360deg;
  }
}
@-moz-keyframes rainbowAnimation {
  to {
    --bg-angle: 360deg;
  }
}
@-webkit-keyframes rainbowAnimation {
  to {
    --bg-angle: 360deg;
  }
}

