/* 
@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
} 
@property --second-angle {
  inherits: false;
  initial-value: 360deg;
  syntax: "<angle>";
} 
#rainbowBG{
  background: content-box, conic-gradient( from var(--bg-angle) in oklch longer hue, oklch(1 0.37 0) 0 0 );
  transform: scale(-1) skew(5deg);
  animation: rainbowAnimation 8s infinite linear running;
}
#secondBG{
  background: content-box, conic-gradient( from var(--second-angle) in oklch longer hue, oklch(1 0.37 0) 0 0 );
  transform: scale(-1) skew(5deg);
  animation: secondAnimation 8s infinite linear running;
}


@keyframes rainbowAnimation {
  to {
    --bg-angle: 360deg;
  }
}
@keyframes secondAnimation {
  to {
    --second-angle: 0deg;
  }
} */