#card{
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100% );
  transition: all;
  transition-duration: 1s;
}

#card:hover{
  clip-path: none;
  transition: all;
  transition-duration: 1s;
  scale: 1.5;
}
